@tailwind base;
@tailwind components;
@tailwind utilities;

.body{
  min-height : 1200px;
}
.title{
  font-weight :700;
  font-size : 2rem;
  color : #fbf8f9;
}
.title-small{
  font-size : 1rem;
}
.header-color{
  background-color :#c1b3f2;
}
.bg-muted{
  background-color : #f4f4f5;
}
.text-muted{
  color : #6e6e77;
}
.bg-footer{
  background-color : #c1b3f2;
  color : #fbf8f9;
  font-size : 20px;
}